body {
  background-color: rgba(30, 0, 255, 0.752);
  margin: 0%;
}

#login {
  border: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  border-color: rgb(230, 230, 230);
  background-color: rgb(230, 230, 230);
  padding: 50px;
  text-align: center;
}

h1 {
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  color: rgba(30, 0, 255, 0.752);
}

#loginbtn {
  margin-top: 30px;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  border: 3px solid;
  border-color: rgba(30, 0, 255, 0.752);
  border-radius: 20px;
  color: rgba(30, 0, 255, 0.752);
  background-color: white;
  cursor: pointer;
}

input {
  padding: 5px;
  border-radius: 10px;
  border: 3px solid;
  border-color: rgba(30, 0, 255, 0.752);
}

p {
  color: rgba(30, 0, 255, 0.752);
  font-family: sans-serif;
}
